@{
    ViewBag.Title = "Главная";
    Test.Models.UsersContext usersContext = new Test.Models.UsersContext();
    usersContext = ViewBag.usersContext;

    Test.Models.PostImageContext postImageContext = new Test.Models.PostImageContext();

    Test.Models.User currUser = new Test.Models.User();
    currUser = ViewBag.currUser;
    
    var userImage = ViewBag.userImage;
    string rootUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    string postsImage = rootUrl + "images/posts/";
    var categories = ViewBag.categories;
}

<h1>Новости</h1>

<h3>Выберите категорию:</h3>
<div class="btn-group">
    <a class="btn btn-default dropdown-toggle" id="catBtn" role="button" data-toggle="dropdown" href="#">
        Категория
        <span class="caret"></span>
    </a>

    <ul id="indexCatSelect" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <input id="minp" type="hidden" name="menu-val" value="0" />
        @if (categories != null && categories.Count != 0)
        {
            foreach (var cat in categories)
            {
                <li><a id="@cat.id" href="#" name="@cat.id">@cat.value</a></li>
            }
        }
        <li><a id="0" href="#" name="0">Все</a></li>
    </ul>
</div>
<div class="hidden-input-group">
    <input type="hidden" name="startFrom" value="0" />
</div>

<div id="index-posts">
    @if (ViewBag.posts != null)
    {

        for (int i = ViewBag.posts.Count - 1; i >= 0; i--)
        {
            <br />
            <div class="divider"></div>
            <div class="post">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="posttitle">
                            <h4>@ViewBag.posts[i].title</h4>
</div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="posttext">
                            @ViewBag.posts[i].text
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="postuser">
                            <a href="~/Account/userProfile?user=@ViewBag.usersContext.getUserById(ViewBag.posts[i].id_user).id">@ViewBag.usersContext.getUserById(ViewBag.posts[i].id_user).name @ViewBag.usersContext.getUserById(ViewBag.posts[i].id_user).last_name</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        @if (ViewBag.postImageList[i] != null)
                        {
                            <img src="@postsImage@postImageContext.getImageByPostId(ViewBag.posts[i].id).image_path" class="img-rounded img-responsive" alt="@ViewBag.posts[i].title">
                        }
                    </div>
                </div>
                <div class="tdivider"> </div>
                <div class="row">

                    <div class="col-md-6 col-lg-6"><h4>Категория: @ViewBag.catContext.getCategory(ViewBag.posts[i].category_id)</h4></div>
                    <div class="col-md-2 col-lg-2">
                        <p><a class="btn btn-default" href="~/Post/PostPage/?post=@ViewBag.posts[i].id">Подробнее &raquo;</a></p>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        @if (currUser != null && ViewBag.posts[i].id_user == currUser.id)
                        {
                            <p><a class="btn btn-info" href="~/Post/EditPost/?post=@ViewBag.posts[i].id">Редактировать</a></p>
                        }
                    </div>
                    <div class="col-md-2 col-lg-2">
                        @if (currUser != null && ViewBag.posts[i].id_user == currUser.id)
                        {
                            string postId = "dellPost" + ViewBag.posts[i].id;
                            <button id="@postId" type="button" class="btn btn-danger" onclick="dellPost()">Удалить</button>
                        }
                    </div>
                </div>
            </div>

        }

    }
</div>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/Scripts/Index-processor.js"></script>