
@{
    ViewBag.Title = "Редактирование статьи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.categories;
}

<title>ViewBag.Title</title>
<h2>Редактирование статьи</h2>

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>

@using (Html.BeginForm("EditPostF", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="addPostForm">
    <div class="row">
        <div class="col-sm-2 col-lg-2"></div>
        <div class="col-md-8 col-lg-8">
            <input name="postId" type="hidden" value="@ViewBag.post.id" />
            <textarea name="posttitle" cols="50" rows="1">@ViewBag.post.title</textarea>
        </div>
        <div class="col-sm-2 col-lg-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2 col-lg-2"></div>
        <div class="col-sm-8 col-lg-8">
            <textarea name="posttext" cols="150" rows="5" placeholder="">@ViewBag.post.text</textarea>
        </div>
        <div class="col-sm-2 col-lg-2"></div>
    </div>
    <div class="tdivider"> </div>
    <div class="row">
        <div class="col-sm-4 col-lg-2">
            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" id="catBtn" role="button" data-toggle="dropdown" href="#">
                    Категория
                    <span class="caret"></span>
                </a>

                <ul id="mitem" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <input id="minp" type="hidden" name="menu-val" value="@ViewBag.post.category_id" />
                    @if (categories != null && categories.Count != 0)
                    {
                        foreach (var cat in categories)
                        {
                            <li><a id="@cat.id" href="#" name="@cat.id">@cat.value</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4">
            <input id="catText" type="hidden" name="catText" placeholder="@ViewBag.catPlaceholder" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8 col-lg-6">
            Добавить фото:
            <input name="post_image" type="file">
        </div>
        <div class="col-sm-4  col-lg-6">
            <input type="submit" name="AddPost" class="btn btn-primary" value="Отправить">
        </div>
    </div>
</div>
}
<script type="text/javascript" src="~/Scripts/test-functions.js"></script>